version: '3.8'

services:
  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092:9092"

    environment:
      KAFKA_KRAFT_MODE: 'true'

      CLUSTER_ID: '1L6g7nGhU-eAKfL--X25wo'
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs

  
    volumes:
      - kafka_kraft:/var/lib/kafka/data

  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  Producer:
    build: ./Producer
    container_name: Producer
    ports:
      - "9001:9001"
    depends_on:
      - kafka

  consumer:
    build: ./consumer
    container_name: consumer
    depends_on:
      - kafka
      - mongodb

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_DATABASE: analytics
      MYSQL_USER: etl
      MYSQL_PASSWORD: etl123
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql-init/init.sql:/docker-entrypoint-initdb.d/schema.sql

    
  analytics-api:
    build: ./ analytics-api
    container_name:  analytics-api
    depends_on:
      - mongodb
      - mysql



volumes:
  kafka_kraft:
  mongo_data:
  mysql_data:
